*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
  background:linear-gradient(rgba(82, 238, 10, 0.555), rgb(0, 123, 255), rgb(140, 0, 255));
  background-position:center;
  height: 100vh;
  padding:20px;
}

.container
{
  width: 1100px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(24, 255, 3, 0.8), rgba(3, 62, 255, 0.9)), url(../images/IMG_20210713_122204_065.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 50px 100px rgb(51, 255, 0),
  0 0  100px rgb(0, 0, 0);
  position: relative;
}

.container h1
{
  text-align: center;
  font-size: 6em;
  line-height: 0.7em;
  color: rgb(11, 9, 44);
  margin-top: -200px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 2px red;
}

.wrapper
{
  display: flex;
}

.wrapper div
{
  position: relative;
  width: 150px;
  height: 150px;
  line-height: 100px;
  text-align: center;
  background: blue;
  color: rgb(30, 255, 0);
  margin: 0 10px;
  font-size: 5em;
  font-weight: bold;
  box-shadow: 0 0 100px rgb(2, 247, 2);
  border: 2px solid rgb(187, 255, 0);
  text-shadow: 2px 2px 2px rgb(255, 1, 1);
  border-radius: 5px 5px 0 0;
}

.wrapper div::before
{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 97%;
  height: 60px;
  background: #33f;
  color: rgb(255, 4, 4);
  font-size: 0.5em;
  line-height: 50px;
  font-weight: bold;
  border: 2px solid red;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.wrapper .day::before
{
  content: 'Day';
}

.wrapper .hour::before
{
  content: 'Hour';
}

.wrapper .minute::before
{
  content: 'Minute';
}

.wrapper .second::before
{
  content: 'Second';
}

.over
{
  position: absolute;
  bottom: 80px;
  font-size: 85px;
  color: rgb(11, 11, 12);
  text-shadow: 2px 2px 2px rgb(0, 255, 208);
  text-decoration: underline;
}

.link
{
  position: absolute;
  left: -58px;
  top: 60px;
  transform: rotate(90deg);
  font-size: 0.7em;
  color: rgb(0, 2, 89);
  animation: link 4s linear infinite alternate;
}

@keyframes link{
  to{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
  }
}